<!doctype html>
<%- include('partials/header', {title:"StudentProfile"}) -%>

<h2>Student Profile</h2>


  <h2>Name: <%= studentName %> </h2>
  <h2>Cumulative Grade: <%=studentStats["cumulativeGrade"]%></h2>
  <h3>Total Points Earned: <%=studentStats["totalpointsgained"]%></h3>
  <h3>Total Points Possible: <%=studentStats["totalpointsoffered"]%></h3>

  <table>
    <tr>
      <th>Assignment Name</th>
      <th>Grade</th>
    </tr>
    <%
      for(tests in studentStats){
        if(tests != "cumulativeGrade" && tests != "photoLink" && tests != "totalpointsgained" && tests != "totalpointsoffered"){
    %>
    <tr>
      <td><%=tests%></td>
      <td><%=studentStats[tests]%></td>
    </tr>
    <%
        }
      }
      %>



<%- include('partials/footer') -%>
<html>
